
<div class="">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        Capital Logistic
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" [routerLink]="['/']">
           Главная 
      </a>
      
    </nav>
  
  
  <a *ngIf="authService.isLoggedIn() && thenBlock()" class="btn btn-outline-warning mr-3" (click)="logoutUser()">
     Выход {{a}}
  </a>
  
    <a *ngIf="authService.isLoggedIn()" class="btn btn-outline-warning mr-3" [routerLink]="['/dashboard']">
       Кабинет пользователя
  </a>
    <a *ngIf="!authService.isLoggedIn()" class="btn btn-outline-primary mr-3" [routerLink]="['/auth']">
         Войти
    </a>
    <a *ngIf="!authService.isLoggedIn()" class="btn btn-outline-primary" [routerLink]="['/reg']">
         Регистрация
    </a>
    <a  class="btn btn-primary ml-3" (click)="goCNN()">
       На сайт
  </a>
  </div>
</div>
